<div class="d-flex justify-content-center loading" *ngIf="isLoading">
  <app-loading></app-loading>
  </div>
<div class="backAction" *ngIf="!isLoading">
  <!-- content starts -->

<!--  Header  -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
     <a routerLink="/" class="logo mr-auto"><img src="assets/images/logo.png" alt="" class="img-fluid"></a>
     <a routerLink="/" class="get-started-btn" *ngIf="!isLogged()">Login</a>
    <nav class="nav-menu d-none d-lg-block" *ngIf="isLogged()">
      <ul class="align-items-center">
        <li><a href="#"><i class="fa fa-bell"></i></a></li>
        <li class="drop-down">
    <a href=""><span class="user-circle"><img class="user_img" src="assets/images/user.jpg"></span> <span class="u_name ml-1"> Deepak Ranaut </span></a>
          <ul>
            <li><a routerLink="/dashboard">Dashboard</a></li>
      <li><a routerLink="/dashboard/faculty/:facultyID">My Profile</a></li>
            <li><a routerLink="/dashboard/changePassword">Change Password</a></li>
            <li><a routerLink="/" (click)="onLogout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </nav><!-- .nav-menu -->

  <div class="mobiletop nav-menu d-flex d-lg-none align-items-center w-100 justify-content-end pr-2">
  <a href="#" class="text-dark mr-3"><i class="fa fa-bell"></i></a>
  <div class="drop-down position-relative">
    <a href=""><span class="user-circle"><img class="user_img" src="assets/images/user.jpg"></span> </a>
          <ul>
            <li><a routerLink="/dashboard">Dashboard</a></li>
      <li><a routerLink="/dashboard/faculty/:facultyID">My Profile</a></li>
            <li><a routerLink="/dashboard/changePassword">Change Password</a></li>
            <li><a routerLink="/" (click)="onLogout()">Logout</a></li>
          </ul>
      </div>
  </div>
  </div>
</header><!-- End Header -->

<main id="main" style="overflow:hidden;position:relative;">
<div class="header-shape">
  <img src="assets/images/header_shap.png">
</div>
<div class="sapretor"></div>

<section class="dshbord-section pt-3 pb-3">
  <div class="container">
<div class="card mb-3">
  <div class="p-3">
    <h4 class="mb-0 text-dark page-title-main">Frequently Asked Questions</h4>
  </div>
  <hr class="m-0">

  <div class="card-body">
    <div class="faq-section">
      <!--Accordion wrapper-->
      <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

        <!-- Accordion card -->
        <div class="card" *ngFor="let item of faq">
        <div class="card-header" role="tab" id="headingOne1">
          <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
          aria-controls="collapseOne1">
          <h5 class="mb-0 font-weight-normal">{{item.faqQuestion}}<i class="fa fa-angle-down rotate-icon float-right"></i></h5>
          </a>
        </div>
        <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
          data-parent="#accordionEx">
          <div class="card-body"><p>{{item.faqAnswer}}</p></div>
        </div>
        </div>
        <!-- Accordion card -->

        <!-- Accordion card -->
        <!-- <div class="card">
        <div class="card-header" role="tab" id="headingTwo2">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
          aria-expanded="false" aria-controls="collapseTwo2">
          <h5 class="mb-0 font-weight-normal">Where does it come from? <i class="fa fa-angle-down rotate-icon float-right"></i></h5>
          </a>
        </div>
        <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
          data-parent="#accordionEx">
          <div class="card-body"><p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
            <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
          </div>
        </div>
        </div> -->
        <!-- Accordion card -->

        <!-- Accordion card -->
        <!-- <div class="card">
        <div class="card-header" role="tab" id="headingThree3">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
          aria-expanded="false" aria-controls="collapseThree3">
          <h5 class="mb-0 font-weight-normal">Why do we use it? <i class="fa fa-angle-down rotate-icon float-right"></i>
          </h5>
          </a>
        </div>
        <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
          data-parent="#accordionEx">
          <div class="card-body"><p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
          </div>
        </div>
        </div> -->
        <!-- Accordion card -->

        <!-- Accordion card -->
        <!-- <div class="card">
        <div class="card-header" role="tab" id="headingThree3">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFour4"
          aria-expanded="false" aria-controls="collapseFour4">
          <h5 class="mb-0 font-weight-normal">Where can I get some? <i class="fa fa-angle-down rotate-icon float-right"></i>
          </h5>
          </a>
        </div>
        <div id="collapseFour4" class="collapse" role="tabpanel" aria-labelledby="collapseFour4"
          data-parent="#accordionEx">
          <div class="card-body"><p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
          </div>
        </div>
        </div> -->
        <!-- Accordion card -->

      </div>

    </div>

  </div>

</div>

  </div>
</section>






</main>

<!-- footer starts -->
<footer id="footer" class="position-relative">
  <div class="container d-md-flex py-4">
    <div class="footermenu">
      <a routerLink="/aboutUs">About Us</a>
     <a routerLink="/contactUs">Contact Us</a>
    <a routerLink="/faq">FAQs</a>
    <a routerLink="/privacyPolicy">Privacy Policy</a>
    <a routerLink="/termsConditions">Terms & Conditions</a>
  </div>
      <div class="ml-md-auto text-center text-md-left">
    <div class="copyright">
      &copy; 2020 MasterG. All Rights Reserved.
    </div>
      </div>
  </div>

</footer><!-- End Footer -->

<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

<!-- Vendor JS Files -->
<!-- <script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script> -->

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>


  <!-- content ends -->
</div>


