<div class="backAction">
  <!-- content starts -->

<!--  Header  -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
     <a routerLink="/" class="logo mr-auto"><img src="assets/images/logo.png" alt="" class="img-fluid"></a>

    <nav class="nav-menu d-none d-lg-block">
      <ul class="align-items-center">
        <li><a href="#"><i class="fa fa-bell"></i></a></li>
        <li class="drop-down">
    <a href=""><span class="user-circle"><img class="user_img" src="assets/images/user.jpg"></span> <span class="u_name ml-1"> Deepak Ranaut </span></a>
          <ul>
            <li><a routerLink="/dashboard">Dashboard</a></li>
      <li><a routerLink="/dashboard/faculty/:facultyID">My Profile</a></li>
           <li><a routerLink="/dashboard/changePassword">Change Password</a></li>
            <li><a routerLink="/" (click)="onLogout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </nav><!-- .nav-menu -->

  <div class="mobiletop nav-menu d-flex d-lg-none align-items-center w-100 justify-content-end pr-2">
  <a href="#" class="text-dark mr-3"><i class="fa fa-bell"></i></a>
  <div class="drop-down position-relative">
    <a href=""><span class="user-circle"><img class="user_img" src="assets/images/user.jpg"></span> </a>
          <ul>
            <li><a routerLink="/dashboard">Dashboard</a></li>
      <li><a routerLink="/dashboard/faculty/:facultyID">My Profile</a></li>
             <li><a routerLink="/dashboard/changePassword">Change Password</a></li>
            <li><a routerLink="/" (click)="onLogout()">Logout</a></li>
          </ul>
      </div>
  </div>
  </div>
</header><!-- End Header -->

<main id="main" style="overflow:hidden;position:relative;">
<div class="header-shape">
  <img src="assets/images/header_shap.png">
</div>
<div class="sapretor"></div>

<section class="dshbord-section pt-3 pb-3">
  <div class="container">
<div class="card mb-3">
  <div class="p-3">
    <h4 class="mb-0 text-dark page-title-main">Change Password</h4>
  </div>
  <hr class="m-0">

  <div class="card-body">
    <div class="row cmspage-content">
      <div class="col-lg-5 col-md-12">
        <form [formGroup]="changePassword" (ngSubmit)="onSubmit(changePassword.value)" id="myform" role="form" class="loginform formtraveler needs-validation" novalidate="novalidate">
           <div class="form-row pt-3">
            <div class="col-xl-12 form-group">
              <label for="password">Current Password</label>
              <input type="password" formControlName="oldPassword" class="form-control" id="password" placeholder="Enter Password">
              <span class="validation" *ngIf="changePassword.get('oldPassword').hasError('required') && changePassword.get('oldPassword').touched">Please Enter Current Password</span>
            </div>
            <div formGroupName="passwordGroup" class="col-xl-12 form-group">
            <div class="">
              <label for="NewPassword">New Password</label>
              <input type="password" formControlName="newPassword" class="form-control" id="NewPassword" minlength="5" placeholder="Enter Password">
              <span class="validation" *ngIf="changePassword.get('passwordGroup').get('newPassword').hasError('required') && changePassword.get('passwordGroup').get('newPassword').touched">Please Enter New Password</span>
              <span class="validation" *ngIf="changePassword.get('passwordGroup').get('newPassword').hasError('minlength') && !changePassword.get('passwordGroup').get('newPassword').pristine">Password Minimum Length is 5</span>

            </div><br/>
            <div class="">
              <label for="ConNewPassword">Confirm New Password</label>
              <input type="password" formControlName="confirmPassword" class="form-control" id="ConNewPassword" placeholder="Enter Password">
              <!-- <span class="validation" *ngIf="changePassword.get('passwordGroup').get('confirmPassword').hasError('required') && changePassword.get('passwordGroup').get('confirmPassword').touched">Please Enter Confirm Password</span> -->
              <span class="validation" *ngIf="changePassword.get('passwordGroup').hasError('passwordNotMatched') && changePassword.get('passwordGroup').touched">New and Confirm Password Must be Same</span>

            </div>
            </div>
           </div>

          <button type="submit"  class="btn btn-primary mt-3">Submit</button>
        </form>

      </div>
    </div>

  </div>

</div>

  </div>
</section>






</main>

<!-- footer starts -->
<footer id="footer" class="position-relative">
  <div class="container d-md-flex py-4">
    <div class="footermenu">
      <a routerLink="/aboutUs">About Us</a>
    <!-- <a routerLink="/contactUs">Contact Us</a> -->
    <a routerLink="/faq">FAQs</a>
    <a routerLink="/privacyPolicy">Privacy Policy</a>
    <a routerLink="/termsConditions">Terms & Conditions</a>
  </div>
      <div class="ml-md-auto text-center text-md-left">
    <div class="copyright">
      &copy; 2020 MasterG. All Rights Reserved.
    </div>
      </div>
  </div>

</footer><!-- End Footer -->

<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

<!-- Vendor JS Files -->
<!-- <script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script> -->

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>


  <!-- content ends -->
</div>


