
<div class="backAction">
  <!-- content starts -->
  <!--  Header  -->

<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
     <a routerLink="/" class="logo mr-auto"><img src="assets/images/logo.png" alt="" class="img-fluid"></a>

    <nav class="nav-menu d-none d-lg-block">
      <ul class="align-items-center">
        <li><a href="#"><i class="fa fa-bell"></i></a></li>
        <li class="drop-down">
    <a href=""><span class="user-circle"><img class="user_img" src="assets/images/user.jpg"></span> <span class="u_name ml-1"> Deepak Ranaut </span></a>
          <ul>
             <li><a routerLink="/dashboard">Dashboard</a></li>
      <li><a routerLink="/dashboard/faculty/:facultyID">My Profile</a></li>
            <li><a routerLink="/dashboard/changePassword">Change Password</a></li>
            <li><a routerLink="/" (click)="onLogout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </nav><!-- .nav-menu -->

  <div class="mobiletop nav-menu d-flex d-lg-none align-items-center w-100 justify-content-end pr-2">
  <a href="#" class="text-dark mr-3"><i class="fa fa-bell"></i></a>
  <div class="drop-down position-relative">
    <a href=""><span class="user-circle"><img class="user_img" src="assets/images/user.jpg"></span> </a>
          <ul>
             <li><a routerLink="/dashboard">Dashboard</a></li>
      <li><a routerLink="/dashboard/faculty/:facultyID">My Profile</a></li>
            <li><a routerLink="/dashboard/changePassword">Change Password</a></li>
            <li><a routerLink="/" (click)="onLogout()">Logout</a></li>
          </ul>
      </div>
  </div>
  </div>
</header><!-- End Header -->

<main id="main" style="overflow:hidden;position:relative;">
  <div class="header-shape">
    <img src="assets/images/header_shap.png">
  </div>
  <div class="sapretor"></div>
    <!--  -->

    <section class="dshbord-section pt-3 pb-3">
      <div class="container">
		<div class="card mb-3">
			<div class="p-3">
				<h4 class="mb-0 text-dark page-title-main">Forums</h4>
			</div>
			<hr class="m-0">
			<div class="card-body">
				<div class="d-md-flex">
					<div class="searchbox form-group position-relative">
						<input type="text" id="pincode" class="form-control" placeholder="Search..">
						<span class="addons"><i class="fa fa-search"></i></span>
					</div>
					<div class="ml-auto">
						<a routerLink="/dashboard/addForums" class="btn btn-primary">Add Forum</a>
					</div>
				</div>

				<div class="row formulist">
					<div class="col-lg-4 col-md-6 pb-3">
						<div class="subject-list d-flex align-items-center">
							<a href="form-details.html" class="img-rounded mr-2"><img src="assets/images/course-img1.png" class="rounded" alt=""></a>
							<div>
								<a href="form-details.html"><h5>English General Discussion</h5></a>
								<h6 class="mb-1 font-weight-normal text-dark">February 03, 2020</h6>
							</div>
							<!--<div class="status ml-auto"><a href="edit-forum.html" class="">Edit</a></div>-->
						</div>
					</div>
					<!-- <div class="col-lg-4 col-md-6 pb-3">
						<div class="subject-list d-flex align-items-center">
							<a href="form-details.html" class="img-rounded mr-2"><img src="images/course-img1.png" class="rounded" alt=""></a>
							<div>
								<a href="form-details.html"><h5>English General Discussion</h5></a>
								<h6 class="mb-1 font-weight-normal text-dark">February 03, 2020</h6>
							</div> -->
							<!--<div class="status ml-auto"><a href="edit-forum.html" class="">Edit</a></div>-->
						<!-- </div>
					</div>
					<div class="col-lg-4 col-md-6 pb-3">
						<div class="subject-list d-flex align-items-center">
							<a href="form-details.html" class="img-rounded mr-2"><img src="images/course-img1.png" class="rounded" alt=""></a>
							<div>
								<a href="form-details.html"><h5>English General Discussion</h5></a>
								<h6 class="mb-1 font-weight-normal text-dark">February 03, 2020</h6>
							</div> -->
							<!--<div class="status ml-auto"><a href="edit-forum.html" class="">Edit</a></div>-->
						<!-- </div>
					</div>
					<div class="col-lg-4 col-md-6 pb-3">
						<div class="subject-list d-flex align-items-center">
							<a href="form-details.html" class="img-rounded mr-2"><img src="images/course-img1.png" class="rounded" alt=""></a>
							<div>
								<a href="form-details.html"><h5>English General Discussion</h5></a>
								<h6 class="mb-1 font-weight-normal text-dark">February 03, 2020</h6>
							</div> -->
							<!--<div class="status ml-auto"><a href="edit-forum.html" class="">Edit</a></div>-->
						<!-- </div>
					</div>
					<div class="col-lg-4 col-md-6 pb-3">
						<div class="subject-list d-flex align-items-center">
							<a href="form-details.html" class="img-rounded mr-2"><img src="images/course-img1.png" class="rounded" alt=""></a>
							<div>
								<a href="form-details.html"><h5>English General Discussion</h5></a>
								<h6 class="mb-1 font-weight-normal text-dark">February 03, 2020</h6>
							</div> -->
							<!--<div class="status ml-auto"><a href="edit-forum.html" class="">Edit</a></div>-->
						<!-- </div>
					</div>
					<div class="col-lg-4 col-md-6 pb-3">
						<div class="subject-list d-flex align-items-center">
							<a href="form-details.html" class="img-rounded mr-2"><img src="images/course-img1.png" class="rounded" alt=""></a>
							<div>
								<a href="form-details.html"><h5>English General Discussion</h5></a>
								<h6 class="mb-1 font-weight-normal text-dark">February 03, 2020</h6>
							</div> -->
							<!--<div class="status ml-auto"><a href="edit-forum.html" class="">Edit</a></div>-->
						<!-- </div>
					</div> -->
				</div>

				<nav aria-label="Page navigation example">
				  <ul class="pagination">
					<li class="page-item">
					  <a class="page-link" href="#" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
						<span class="sr-only">Previous</span>
					  </a>
					</li>
					<li class="page-item active"><a class="page-link" href="#">1</a></li>
					<li class="page-item"><a class="page-link" href="#">2</a></li>
					<li class="page-item"><a class="page-link" href="#">3</a></li>
					<li class="page-item">
					  <a class="page-link" href="#" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
						<span class="sr-only">Next</span>
					  </a>
					</li>
				  </ul>
				</nav>

			</div>

		</div>

      </div>
    </section>
  </main>
<!-- Footer -->
<footer id="footer">
  <div class="container d-md-flex py-4">
    <div class="footermenu">
    <a routerLink="/aboutUs">About Us</a>
    <a routerLink="/contactUs">Contact Us</a>
    <a routerLink="/faq">FAQs</a>
    <a routerLink="/privacyPolicy">Privacy Policy</a>
    <a routerLink="/termsConditions">Terms & Conditions</a>
  </div>
      <div class="ml-md-auto text-center text-md-left">
    <div class="copyright">
      &copy; 2020 MasterG. All Rights Reserved.
    </div>
      </div>
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top"><i class="fas fa-angle-up"></i></a>

  <!-- Vendor JS Files
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/bootstrap.bundle.min.js"></script> -->
  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</div>

